<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <!--VENDOR JS-->
    <script src="vendor/jquery/jquery-1.11.3.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-route.min.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="vendor/angular/ng-grid.min.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="vendor/angular-ui-tree.js"></script>
    <script src="//cdn.jsdelivr.net/select2/3.4.5/select2.js"></script>
    <script src="https://rawgithub.com/angular-ui/ui-select2/master/src/select2.js"></script>

    

    <!--VENDOR CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/vendor/ng-grid.min.css" rel="stylesheet"/>
    <link href="vendor/angular-ui-tree.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.5/select2.css" />

    <!--STYLESHEET-->
    <link href="css/main.css" rel="stylesheet" />

    <!--CONTROLLERS-->
    <script src="scripts/app.js"></script>
    <script src="scripts/page-static-controller.js"></script>
    <script src="templates/main-controller.js"></script>

    <!--DIRECTIVES-->
    <script src="templates/tree.js"></script>
    <script src="templates/grid-selector/grid-selector.js"></script>
    <script src="templates/tree-helper/tree-helper.js"></script>
    <script src="templates/attribute-selector/attribute-selector.js"></script>
    <script src="templates/typed-input/typed-input.js"></script>

    <!--User controllers-->
    <script src="scripts/user-control/user-control.js"></script>

    <!--DICTIONARY CONTROLLERS-->
    <script src="scripts/game-dictionary/race.js"></script>
    <script src="scripts/game-dictionary/subrace.js"></script>
    <script src="scripts/game-dictionary/item-type.js"></script>
    <script src="scripts/game-dictionary/attribute.js"></script>

    <!--CAMPAIGHN CONTROLLERS-->
    <script src="scripts/campaighn/campaighn.js"></script>
</head>
<body ng-app="dndapp">

    <div ng-include='"templates/header.html"'></div>
    <div ng-view></div>
    <div ng-include='"templates/footer.html"'></div>

    <!--Модальное окно для ошибок-->
    <script type="text/ng-template" id="message.html" ng-controller="MessageCtrl">
        <div class="modal-header">
            <h3 ng-if="windowType ==='error'" class="modal-title">Ошибка</h3>
            <h3 ng-if="windowType ==='question'" class="modal-title">Предупреждение</h3>
        </div>
        <div class="modal-body">
            <label>{{message}}</label>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-if="windowType ==='error'" ng-click="close()">OK</button>
            <button class="btn btn-primary" type="button" ng-if="windowType ==='question'" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-if="windowType ==='question'" ng-click="dismiss()">Отмена</button>
        </div>
    </script>

    <!--Модальное окно для логина-->
    <script type="text/ng-template" id="login.html" ng-controller="LoginCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Вход в систему</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="form-label">Имя пользователя</label>
                <input type="text" ng-model="loginModel.Login" />
            </div>
            <div class="form-group">
                <label class="form-label">Пароль</label>
                <input type="password" ng-model="loginModel.Password" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="loginUser()">Вход</button>
        </div>
    </script>

</body>


</html>