    
#map-border{
	margin: 10px;
	float: left;
	width: 100%;
	height:100%;
}


.map-square{
    border-style: solid;
    border-color: black;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    display: inline-block;
    position: relative;
    background-size: contain;
    height:100%;
}

.selected-sprite{
	border-width : 2px;
	border-color : red;
}

.map-object{
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    background-size: contain;

    height: 90%;
  /*  height: -webkit-calc(100% - 2px);
    height: -moz-calc(100% - 2px);
    height: calc(100% - 2px);*/
    
    width: 90%;
   /* width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: calc(100% - 2px);   */ 
	
    margin : 5%;
}
.map-last-in-row-square{
	border-right-width: 1px;
}
.map-last-row-square{
	border-bottom-width: 1px;
}
.map-row{
	margin-right: 0px;	
}
#map-slider-group{
	display: block;  
	float:left;
	
	height: 100%;
	height: -webkit-calc(100% - 28px);
	height: -moz-calc(100% - 28px);
	height: calc(98% - 28px);
	
	width: 100%;
	width: -webkit-calc(100% - 28px);
	width: -moz-calc(100% - 28px);
	width: calc(100% - 28px);
}

#map-scroll-y{
    width: 14px;
    /*height:100%;*/
    display: block;
    float: right;
    background-color: rgb(240,240,240);
    margin-right: 14px;
    border-width: 1px;
    border-color: black;
    border-style: outset;
    border-radius: 3px;
}

#map-scroll-x{
    height: 14px;
    width:100%;
    background-color: rgb(240,240,240);
    margin-top: 7px;
    border-width: 1px;
    border-color: black;
    border-style: outset;
    border-radius: 3px;
}
.ui-slider-horizontal > .ui-slider-handle{
	margin-top : 3px;
}
.ui-slider-vertical > .ui-slider-handle{
	margin-left : 3px;
}

#map-scroller-y{
    width: 6px;
    margin-left: 3px;
    height: 30px;
    background-color: gray;
    border-radius: 3px;
}

