<!--<link href="map-edit.css" rel="stylesheet"/>-->
<div class="content-container">	
		<div id = "map-view">
			<map-square cells="squareArray" view-params="viewParams"></map-square>
			<!--<div style="background-color: bisque; width:100%; height:100%;"></div>-->
		</div>
		<div id="map-controls">
			<div class="map-change-element">
				<div ng-repeat="layer in envVariable.Layers" class="row-layer">	
					<input type="radio" class="layer-checkbox" name="active-layer" ng-model="envVariable.ActiveLayer" value="{{layer.Id}}" ng-disabled="!layer.Show" id="{{layer.Id + '_radio'}}" name ="{{layer.Id  + '_radio'}}" />
					<label for="{{layer.Id + '_radio'}}" ng-class="{'disabled-radio': !layer.Show}"></label>
					<input type="checkbox" class="layer-checkbox" id="{{layer.Id}}" name ="{{layer.Id}}" ng-model="layer.Show"/>
					<label for="{{layer.Id}}"  ng-click="onChangeVisibility(layer.Show, layer.Id)"></label>
					<label>{{layer.Name}}</label>
				</div>
				<input type="button" value="Добавить слой" ng-click="addLayer()"/>
			</div>
			<uib-accordion close-others="oneAtATime">
				<uib-accordion-group>
					<uib-accordion-heading style="font-size: 5px;">
						Работа с картой <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading>
					<div class="map-change-element">
						<div>Изменение размеров</div>
						<div>
							Количество клеток: 
							<input type="number" ng-model="ChangeSizeParam.ChangeCount" class="map-change-input"/>
						</div>
						<div>
							<label><input type="checkbox" ng-model="ChangeSizeParam.ChangeXAxis"/>По оси X</label>
							<label><input type="checkbox" ng-model="ChangeSizeParam.ChangeYAxis"/>По оси Y</label>
						</div>
						<div>
							<label>
								<input type="radio" ng-model="ChangeSizeParam.Way" value="u">
								Сверху / Слева
							</label><br/>
							<label>
								<input type="radio" ng-model="ChangeSizeParam.Way" value="d">
								Снизу / Справа
							</label><br/>
						</div>
						<div>
							<input type="button" value="Применить" ng-click="changeSize()"/>
						</div>
					</div>	
				</uib-accordion-group>	
				<uib-accordion-group>
					<uib-accordion-heading style="font-size: 5px;">
						Добавление элементов <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading>
					<div class="map-change-element">
						<div>
							<select ui-select2="presetSelectConfig" ng-model="envVariable.SelectedMapItem.Id" style="width:100%">
								<option ng-repeat="preset in presetList" value="{{preset.Id}}">
									{{preset.Name}}
								</option>
							</select>

							<!--<input type="button" value="test" ng-click="addElement()"/>-->
						</div>
					</div>	
				</uib-accordion-group>
			</uib-accordion>
		</div>
		<div id="map-actions">
			<button style="height: 100%; width: 10%;" ng-click="moveRight()">Двинуть</button>
			<button style="height: 100%; width: 10%;" ng-click="scroll(1,0)">Скрольнуть + </button>
			<button style="height: 100%; width: 10%;" ng-click="scroll(-1,0)" on-change="test">Скрольнуть - </button>
			<button style="height: 100%; width: 10%;" ng-click="scroll(0,-1)">Вверх </button>
			<button style="height: 100%; width: 10%;" ng-click="scroll(0,1)">Вниз </button>
			<button style="height: 100%; width: 10%;" ng-click="animationTest()">test animation </button>
		</div>		
</div>