<div class="container" ng-controller="PageStaticCtrl">

    <button ng-click="refill()">refill</button>
    <!-- <div ng-repeat="inputElem in inputArray">

     <typed-input input-value="inputElem"> </<typed-input>
     </div>-->
    <!--<attribute-selector attribute-list="attributeList"></attribute-selector>!-->
    <map-square squares="squareArray"></map-square>
    <button ng-click="deleteAllObjects()">delete all objects</button>
    <button ng-click="moveAllObject()">move all objects</button>



</div>